# PyCharm
.idea/
*.iws
*.ipr
*.iml

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
*.pyc
*.pyo
*.pyd

# Системные файлы
.DS_Store
Thumbs.db

# Kivy cache
.kivy/

# Build files
build/
dist/

# IDE
.vscode/
.idea/